# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem

ak.yaml
# Ignore everything in the backend/login directory
backend/login/*

# But don't ignore the lambda_function.py file
!backend/login/lambda_function.py

# Ignore everything in the backend/login directory
backend/register/*

# But don't ignore the lambda_function.py file
!backend/register/lambda_function.py

receiptInput.json

list.py.zip
receipt.py.zip